/* NaviButton03-L.css */

#menu-box {
  margin: 10px;
  width: 576px; height: 54px;       /* widthはulの幅+ボーダーの幅、heightはulの高さ+ボーダーの幅 */
  position: relative;
}

#menu-box ul {
  margin: 0px; padding: 0px;        /* この指定がないと、marginとpaddingの余白が自動的に採られてしまう。 */
  width: 573px; height: 50px;       /* widthは（liの幅+ボーダーの幅）* 3、heightはliの高さ */
  border: 2px solid #999999;
  border-right: 1px solid #999999;
  list-style-type: none;
}

#menu-box li {                      /* ボタンの四角形 */
  width: 190px; height: 50px;
  background-color: #99FF99;
  border-right: 1px solid #999999;
  float: left;
  
  transition: 0.5s linear;
  -webkit-transition: 0.5s linear;
}
#menu-box li:hover {                /* ボタンhover時にボタンの色を変える。 */
  background-color: #66CC66;
}

#menu-box li a {                    /* ボタンのテキスト */
  text-decoration: none;
  text-align: center;
  font-size: 38px;
  font-weight: bold;
  font-family: "ＭＳ Ｐゴシック",Osaka,"ヒラギノ角ゴ Pro",Verdana;
  color: #3333FF;
  text-shadow: 2px 2px 2px #666666;
  line-height: 50px;
  display: block;
  
  /* Firefoxの時の枠線を消す */
  overflow: hidden;
  outline: none;
  
  transition: 0.5s linear;
  -webkit-transition: 0.5s linear;
}
#menu-box li:hover a {              /* ボタンhover時にボタンのテキストの色を変える。 */
  color: #FF0000;
  text-shadow: 2px 2px 2px #FFFFFF;
}

/* Ｗｅｂページレイアウト ***************************************/
#container {
  width: 800px;
  margin: auto;
  border-left: solid 1px #AAAAAA;
  border-right: solid 1px #AAAAAA;
}
#head {
  border-bottom: solid 1px #AAAAAA;
}
#content {
  width: 590px;
  margin: 0px;
  float: left;
}

#content_inner {
  width: 590px;
  margin: 0px;
}
#sidebar {
  width: 200px;
  margin: 0px;
  float: left;
  border-right: solid 1px #AAAAAA;
}
#side_inner {
  width: 200px;
  height: 300px;
  margin: 0px;
}
#foot {
  clear: both;
  border-top: solid 1px #AAAAAA;
}

