/* NaviMenu04.css */

#menu-box {
  margin: 10px 0px 10px 15px;
  width: 402px; height: 94px;
  position: relative;
}

/* 大メニュー ********************************************************************/
#menu-box>ul {
  margin: 0px; padding: 0px;         /* この指定がないと、marginとpaddingの余白が自動的に採られてしまう。 */
  width: 402px; height: 93px;
  border-top: 1px solid #999999;
  list-style-type: none;
}

#menu-box>ul>li {
  width: 400px; height: 30px;
  border: 1px solid #999999;
  border-top: none;
  overflow: hidden;                 /* この大メニューの overflow: hidden;の指定で以下の全ての要素が overflow しなくなる。 */
  
  transition: 1s ease-in-out;
  -webkit-transition: 1s ease-in-out;
}
#menu-box>ul>li:hover {              /* 大メニューのhover時に大メニューの高さを変える */
  height: 210px;                     /* （小メニューのheight × 小メニューＭａｘ数 ＋ 大メニューのheight） */
}

#menu-box>ul>li h1 {                 /* 大メニューのテキスト */
  margin: 0px; padding: 0px 0px 0px 10px;
  background-color: #99CCFF;
  /* background-colorにbackground-imageで白のグラデーションをかぶせる */
  background-image: linear-gradient( to bottom, rgba( 255, 255, 255, 0.0 ) 0%, rgba( 255, 255, 255, 0.6 ) 50%,
                                     rgba( 255, 255, 255, 0.6 ) 50%, rgba( 255, 255, 255, 0.0 ) 100% );
  background-image: -webkit-linear-gradient( top, rgba( 255, 255, 255, 0.0 ) 0%, rgba( 255, 255, 255, 0.6 ) 50%,
                                             rgba( 255, 255, 255, 0.6 ) 50%, rgba( 255, 255, 255, 0.0 ) 100% );
  background-clip: border-box;
  background-repeat: no-repeat;
  text-align: left;
  font-size: 22px;
  font-weight: bold;
  font-family: "ＭＳ Ｐゴシック",Osaka,"ヒラギノ角ゴ Pro",Verdana;
  color: #3333FF;
  text-shadow: 2px 2px 2px #666666;
  line-height: 30px;
  display: block;
  cursor: pointer;
}

/* 小メニュー ********************************************************************/
#menu-box ul ul {                    /* 小メニューのul */
  margin: 0px; padding: 0px;         /* この指定がないと、marginとpaddingの余白が自動的に採られてしまう。 */
  width: 400px; height: 210px;
  background-color: #EEEEEE;
  list-style-type: none;
}

#menu-box ul li ul li {             /* 小メニュー */
  width: 400px; height: 30px;
}

#menu-box ul li ul li a {           /* 小メニューのテキスト */
  margin: 0px; padding: 0px 0px 0px 10px;
  text-decoration: none;
  text-align: left;
  text-overflow: clip;               /* テキストのoverflow時は、カットする */
  font-size: 16px;
  font-weight: bold;
  font-family: "ＭＳ Ｐゴシック",Osaka,"ヒラギノ角ゴ Pro",Verdana;
  color: #000000;
  text-shadow: 2px 2px 2px #666666;
  line-height: 24px;
  display: block;
  
  /* Firefoxの時の枠線を消す */
  overflow: hidden; outline: none;
}

#menu-box ul li ul li a:hover {     /* 小メニューのhover時に背景色とテキストの色を変える */
  background-color: #FF9999;
  color: #FFFFFF;
}

/* Ｗｅｂページレイアウト ***************************************/
#container {
  width: 800px;
  margin: auto;
  border-left: solid 1px #AAAAAA;
  border-right: solid 1px #AAAAAA;
}
#head {
  border-bottom: solid 1px #AAAAAA;
}
#sidebar_L {
  width: 180px;
  float: left;
  margin: 0px;
  border-right: solid 1px #AAAAAA;
}
#side_inner_L {
  width: 180px;
  height: 300px;
  margin: 0px;
}
#content {
  width: 430px;
  float: left;
  margin: 0px;
}

#content_inner {
  width: 430px;
  margin: 0px;
}
#sidebar_R {
  width: 180px;
  float: right;
  margin: 0px;
  border-left: solid 1px #AAAAAA;
}
#side_inner_R {
  width: 180px;
  height: 300px;
  margin: 0px;
}
#foot {
  clear: both;
  border-top: solid 1px #AAAAAA;
}

