/* M-MovingTextsAnime.css */

/*******************************************************************/
/* screen width over 980px (Base)                                  */
/*******************************************************************/
#stage {
  width: 840px; height: 560px;
  border: 1px solid #000000;
  position: relative;
}

#div1 {
  top: 28px; left: 140px;
  /* border: 1px solid red; */
  text-align: center;
  color: #6699FF;
  font: bold 100px "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro", Verdana;
  position: absolute;
  
  animation: TextAnime1 10s linear 0s infinite alternate;
  -webkit-animation: TextAnime1 10s linear 0s infinite alternate;
}
@keyframes TextAnime1 {
  0% { transform: perspective(420px) rotateX(0deg); }
  100% { transform: perspective(420px) rotateX(360deg); }
}
@-webkit-keyframes TextAnime1 {
  0% { -webkit-transform: perspective(420px) rotateX(0deg); }
  100% { -webkit-transform: perspective(420px) rotateX(360deg); }
}

#div2 {
  top: 238px; left: 126px;
  /* border: 1px solid blue; */
  text-align: center;
  color: #00FF99;
  font: bold 96px "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro", Verdana;
  position: absolute;
  
  animation: TextAnime2 5s linear 0s infinite normal;
  -webkit-animation: TextAnime2 5s linear 0s infinite normal;
}
@keyframes TextAnime2 {
  0% { transform: rotateZ(0deg); }
  25% { transform: rotateZ(30deg); }
  50% { transform: rotateZ(0deg); }
  75% { transform: rotateZ(-30deg); }
  100% { transform: rotateZ(0deg); }
}
@-webkit-keyframes TextAnime2 {
  0% { -webkit-transform: rotateZ(0deg); }
  25% { -webkit-transform: rotateZ(30deg); }
  50% { -webkit-transform: rotateZ(0deg); }
  75% { -webkit-transform: rotateZ(-30deg); }
  100% { -webkit-transform: rotateZ(0deg); }
}

#div3 {
  top: 448px; left: 98px;
  /* border: 1px solid green; */
  text-align: center;
  color: #FF9900;
  font: bold 90px "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro", Verdana;
  position: absolute;
  
  animation: TextAnime3 10s linear 0s infinite normal;
  -webkit-animation: TextAnime3 10s linear 0s infinite normal;
}
@keyframes TextAnime3 {
  0% { transform: skewX(0deg); }
  25% { transform: skewX(60deg); }
  50% { transform: skewX(0deg); }
  75% { transform: skewX(-60deg); }
  100% { transform: skewX(0deg); }
}
@-webkit-keyframes TextAnime3 {
  0% { -webkit-transform: skewX(0deg); }
  25% { -webkit-transform: skewX(60deg); }
  50% { -webkit-transform: skewX(0deg); }
  75% { -webkit-transform: skewX(-60deg); }
  100% { -webkit-transform: skewX(0deg); }
}

/*******************************************************************/
/* screen width from 600px to 979px                                */
/*******************************************************************/
@media only screen and (min-width:600px) and (max-width:979px) {
  #stage {
    width: 600px; height: 400px;
  }
  
  #div1 {
    top: 20px; left: 100px;
    font: bold 72px "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro", Verdana;
    
    animation: TextAnime1-m 10s linear 0s infinite alternate;
    -webkit-animation: TextAnime1-m 10s linear 0s infinite alternate;
  }
  @keyframes TextAnime1-m {
    0% { transform: perspective(300px) rotateX(0deg); }
    100% { transform: perspective(300px) rotateX(360deg); }
  }
  @-webkit-keyframes TextAnime1-m {
    0% { -webkit-transform: perspective(300px) rotateX(0deg); }
    100% { -webkit-transform: perspective(300px) rotateX(360deg); }
  }
  
  #div2 {
    top: 170px; left: 90px;
    font: bold 68px "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro", Verdana;
  }
  
  #div3 {
    top: 320px; left: 70px;
    font: bold 64px "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro", Verdana;
  }
}


/*******************************************************************/
/* screen width under 599px                                         */
/*******************************************************************/
@media only screen and (max-width:599px) {
  #stage {
    width: 300px; height: 200px;
  }
  
  #div1 {
    top: 10px; left: 50px;
    font: bold 36px "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro", Verdana;
    
    animation: TextAnime1-s 10s linear 0s infinite alternate;
    -webkit-animation: TextAnime1-s 10s linear 0s infinite alternate;
  }
  @keyframes TextAnime1-s {
    0% { transform: perspective(150px) rotateX(0deg); }
    100% { transform: perspective(150px) rotateX(360deg); }
  }
  @-webkit-keyframes TextAnime1-s {
    0% { -webkit-transform: perspective(150px) rotateX(0deg); }
    100% { -webkit-transform: perspective(150px) rotateX(360deg); }
  }
  
  #div2 {
    top: 85px; left: 45px;
    font: bold 34px "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro", Verdana;
  }
  
  #div3 {
    top: 160px; left: 35px;
    font: bold 32px "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro", Verdana;
  }
}

