/* RobotWalkAnime.css */

#stage {
  margin: 0px;
  width: 620px; height: 500px;
  border: solid 1px #000000;
  position: relative;
  overflow: hidden;
}

#stage img {
  width: 100%; height: 100%;
}

#stage-Upper {
  top: 0px; left: 0px;
  width: 620px; height: 370px;
  background-image: linear-gradient( to bottom, #0099FF, #99CCFF );
  background-image: -webkit-linear-gradient( top, #0099FF, #99CCFF );
  position: absolute;
}
#stage-Bottom {
  top: 370px; left: 0px;
  width: 620px; height: 130px;
  background-image: linear-gradient( to bottom, #999999 20%, #DDDDDD );
  background-image: -webkit-linear-gradient( top, #999999 20%, #DDDDDD );
  position: absolute;
}
/* Robot ****************************************************************/
#Robot {
  top: 105px; left: 100px;
  position: absolute;
  
  animation: RobotAnime1 10s linear 0s infinite normal,
             RobotAnime2 2s linear 0s infinite normal;
  -webkit-animation: RobotAnime1 10s linear 0s infinite normal,
                     RobotAnime2 2s linear 0s infinite normal;
}
@keyframes RobotAnime1 {
  0% { left: -180px; animation-timing-function: ease-in-out; }
  20% { left: 0px; animation-timing-function: ease-in-out; }
  40% { left: 180px; animation-timing-function: ease-in-out; }
  60% { left: 360px; animation-timing-function: ease-in-out; }
  80% { left: 540px; animation-timing-function: ease-in-out; }
  100% { left: 720px; animation-timing-function: ease-in-out; }
}
@-webkit-keyframes RobotAnime1 {
  0% { left: -180px; -webkit-animation-timing-function: ease-in-out; }
  20% { left: 0px; -webkit-animation-timing-function: ease-in-out; }
  40% { left: 180px; -webkit-animation-timing-function: ease-in-out; }
  60% { left: 360px; -webkit-animation-timing-function: ease-in-out; }
  80% { left: 540px; -webkit-animation-timing-function: ease-in-out; }
  100% { left: 720px; -webkit-animation-timing-function: ease-in-out; }
}
@keyframes RobotAnime2 {
  0% { top: 105px; }
  25% { top: 105px; animation-timing-function: ease-in-out; }
  50% { top: 98px; animation-timing-function: ease-in-out; }
  75% { top: 105px; }
  100% { top: 105px; }
}
@-webkit-keyframes RobotAnime2 {
  0% { top: 105px; }
  25% { top: 105px; -webkit-animation-timing-function: ease-in-out; }
  50% { top: 98px; -webkit-animation-timing-function: ease-in-out; }
  75% { top: 105px; }
  100% { top: 105px; }
}

/* Head ***************************************************************/
#Head {
  top: 0px; left: -7px;
  width: 65px; height: 65px;
  position: absolute;
}

#Face {
  top: 0px; left: 0px;
  width: 65px; height: 55px;
  position: absolute;
}

#Neck {
  //top: 50px; //left: 22px;
  top: 40px; left: 22px;
  //width: 30px; //height: 15px;
  width: 30px; height: 25px;
  position: absolute;
}

/* Body ***************************************************************/
#Body {
  top: 60px; left: 5px;
  width: 60px; height: 120px;
  position: absolute;
}
/* Bust ******************************************************/
#Bust {
  top: 0px; left: 0px;
  width: 60px; height: 80px;
  position: absolute;
}

/* Hips *****************************************************/
#Hips {
  top: 70px; left: -2px;
  width: 58px; height: 50px;
  position: absolute;
}

/* R-Arm *****************************************************/
#R-Arm {
  top: 3px; left: 10px;
  width: 25px; height: 153px;
  position: absolute;
  
  transform-origin: 50% 10%;
  -webkit-transform-origin: 50% 10%;
  
  transform: rotateZ(40deg);
  -webkit-transform: rotateZ(40deg);
  
  animation: R-ArmAnime 2s ease-in-out 0s infinite alternate;
  -webkit-animation: R-ArmAnime 2s ease-in-out 0s infinite alternate;
}
@keyframes R-ArmAnime {
  0% { transform: rotateZ(40deg); }
  100% { transform: rotateZ(-40deg); }
}
@-webkit-keyframes R-ArmAnime {
  0% { -webkit-transform: rotateZ(40deg); }
  100% { -webkit-transform: rotateZ(-40deg); }
}

#R-UpperArm {
  top: 5px; left: 0px;
  width: 25px; height: 65px;
  position: absolute;
}

#R-LowerArm {
  top: 60px; left: 0px;
  width: 25px; height: 93px;
  position: absolute;
  
  transform-origin: 50% 10%;
  -webkit-transform-origin: 50% 10%;
  
  transform: rotateZ(-10deg);
  -webkit-transform: rotateZ(-10deg);
  
  animation: R-LowerArmAnime 2s ease-in-out 0s infinite alternate;
  -webkit-animation: R-LowerArmAnime 2s ease-in-out 0s infinite alternate;
}
@keyframes R-LowerArmAnime {
  0% { transform: rotateZ(-5deg); }
  100% { transform: rotateZ(-30deg); }
}
@-webkit-keyframes R-LowerArmAnime {
  0% { -webkit-transform: rotateZ(-5deg); }
  100% { -webkit-transform: rotateZ(-30deg); }
}

#R-ForeArm {
  top: 0px; left: 0px;
  width: 25px; height: 60px;
  position: absolute;
}
#R-Hand {
  top: 55px; left: -1px;
  width: 28px; height: 38px;
  position: absolute;
}

#R-Shoulder {
  top: 5px; left: 8px;
  width: 30px; height: 25px;
  position: absolute;
}

#R-Elbow {
  top: 55px; left: 0px;
  width: 25px; height: 25px;
  position: absolute;
}

/* L-Arm *****************************************************/
#L-Arm {
  top: 3px; left: 10px;
  width: 25px; height: 153px;
  position: absolute;
  
  transform-origin: 50% 10%;
  -webkit-transform-origin: 50% 10%;
  
  transform: rotateZ(-40deg);
  -webkit-transform: rotateZ(-40deg);
  
  animation: L-ArmAnime 2s ease-in-out 0s infinite alternate;
  -webkit-animation: L-ArmAnime 2s ease-in-out 0s infinite alternate;
}
@keyframes L-ArmAnime {
  0% { transform: rotateZ(-40deg); }
  100% { transform: rotateZ(40deg); }
}
@-webkit-keyframes L-ArmAnime {
  0% { -webkit-transform: rotateZ(-40deg); }
  100% { -webkit-transform: rotateZ(40deg); }
}

#L-UpperArm {
  top: 5px; left: 0px;
  width: 25px; height: 65px;
  position: absolute;
}

#L-LowerArm {
  top: 60px; left: 0px;
  width: 25px; height: 93px;
  position: absolute;
  
  transform-origin: 50% 10%;
  -webkit-transform-origin: 50% 10%;
  
  transform: rotateZ(-30deg);
  -webkit-transform: rotateZ(-30deg);
  
  animation: L-LowerArmAnime 2s ease-in-out 0s infinite alternate;
  -webkit-animation: L-LowerArmAnime 2s ease-in-out 0s infinite alternate;
}
@keyframes L-LowerArmAnime {
  0% { transform: rotateZ(-30deg); }
  100% { transform: rotateZ(-5deg); }
}
@-webkit-keyframes L-LowerArmAnime {
  0% { -webkit-transform: rotateZ(-30deg); }
  100% { -webkit-transform: rotateZ(-5deg); }
}

#L-ForeArm {
  top: 0px; left: 0px;
  width: 25px; height: 60px;
  position: absolute;
}
#L-Hand {
  top: 55px; left: -1px;
  width: 28px; height: 38px;
  position: absolute;
}

#L-Shoulder {
  top: 5px; left: 8px;
  width: 30px; height: 25px;
  position: absolute;
}

#L-Elbow {
  top: 55px; left: 0px;
  width: 25px; height: 25px;
  position: absolute;
}

/* Legs ****************************************************************/
/* R-Leg *****************************************************/
#R-Leg {
  top: 93px; left: 15px;
  width: 30px; height: 175px;
  position: absolute;
  
  transform-origin: 50% 10%;
  -webkit-transform-origin: 50% 10%;
  
  transform: rotateZ(-40deg);
  -webkit-transform: rotateZ(-40deg);
  
  animation: R-LegAnime 2s ease-in-out 0s infinite alternate;
  -webkit-animation: R-LegAnime 2s ease-in-out 0s infinite alternate;
}
@keyframes R-LegAnime {
  0% { transform: rotateZ(-40deg); }
  100% { transform: rotateZ(30deg); }
}
@-webkit-keyframes R-LegAnime {
  0% { -webkit-transform: rotateZ(-40deg); }
  100% { -webkit-transform: rotateZ(30deg); }
}

#R-UpperLeg {
  top: 10px; left: 0px;
  width: 30px; height: 80px;
  position: absolute;
}

#R-LowerLeg {
  top: 80px; left: 0px;
  width: 30px; height: 95px;
  position: absolute;
  
  transform-origin: 50% 10%;
  -webkit-transform-origin: 50% 10%;
  
  transform: rotateZ(10deg);
  -webkit-transform: rotateZ(10deg);
  
  animation: R-LowerLegAnime 4s ease-in-out 0s infinite normal;
  -webkit-animation: R-LowerLegAnime 4s ease-in-out 0s infinite normal;
}
@keyframes R-LowerLegAnime {
  0% { transform: rotateZ(10deg); }
  25% { transform: rotateZ(0deg); }
  50% { transform: rotateZ(10deg); }
  80% { transform: rotateZ(90deg); }
  100% { transform: rotateZ(10deg); }
}
@-webkit-keyframes R-LowerLegAnime {
  0% { -webkit-transform: rotateZ(10deg); }
  25% { -webkit-transform: rotateZ(0deg); }
  50% { -webkit-transform: rotateZ(10deg); }
  80% { -webkit-transform: rotateZ(90deg); }
  100% { -webkit-transform: rotateZ(10deg); }
}

#R-Shin {
  top: 0px; left: 0px;
  width: 30px; height: 75px;
  position: absolute;
}

#R-Ankle {
  top: 65px; left: 0px;
  width: 30px; height: 20px;
  position: absolute;
  
  transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  
  transform: rotateZ(0deg);
  -webkit-transform: rotateZ(0deg);
  
  animation: R-AnkleAnime 4s linear 0s infinite normal;
  -webkit-animation: R-AnkleAnime 4s linear 0s infinite normal;
}
@keyframes R-AnkleAnime {
  0% { transform: rotateZ(0deg); }
  15% { transform: rotateZ(25deg); }
  35% { transform: rotateZ(-20deg); }
  50% { transform: rotateZ(-15deg); }
  65% { transform: rotateZ(10deg); }
  75% { transform: rotateZ(0deg); }
  90% { transform: rotateZ(-20deg); }
  100% { transform: rotateZ(0deg); }
}
@-webkit-keyframes R-AnkleAnime {
  0% { -webkit-transform: rotateZ(0deg); }
  15% { -webkit-transform: rotateZ(25deg); }
  35% { -webkit-transform: rotateZ(-20deg); }
  50% { -webkit-transform: rotateZ(-15deg); }
  65% { -webkit-transform: rotateZ(10deg); }
  75% { -webkit-transform: rotateZ(0deg); }
  90% { -webkit-transform: rotateZ(-20deg); }
  100% { -webkit-transform: rotateZ(0deg); }
}

#R-Foot {
  top: 10px; left: -5px;
  width: 60px; height: 20px;
  position: absolute;
}

#R-Knee {
  top: 75px; left: 0px;
  width: 30px; height: 30px;
  position: absolute;
}

#R-Groin {
  top: 93px; left: 8px;
  width: 40px; height: 30px;
  position: absolute;
}

/* L-Leg *****************************************************/
#L-Leg {
  top: 93px; left: 15px;
  width: 30px; height: 175px;
  position: absolute;
  
  transform-origin: 50% 10%;
  -webkit-transform-origin: 50% 10%;
  
  -transform: rotateZ(30deg);
  -webkit-transform: rotateZ(30deg);
  
  animation: L-LegAnime 2s ease-in-out 0s infinite alternate;
  -webkit-animation: L-LegAnime 2s ease-in-out 0s infinite alternate;
}
@keyframes L-LegAnime {
  0% { transform: rotateZ(30deg); }
  100% { transform: rotateZ(-40deg); }
}
@-webkit-keyframes L-LegAnime {
  0% { -webkit-transform: rotateZ(30deg); }
  100% { -webkit-transform: rotateZ(-40deg); }
}

#L-UpperLeg {
  top: 10px; left: 0px;
  width: 30px; height: 80px;
  position: absolute;
}

#L-LowerLeg {
  top: 80px; left: 0px;
  width: 30px; height: 95px;
  position: absolute;
  
  transform-origin: 50% 10%;
  -webkit-transform-origin: 50% 10%;
  
  transform: rotateZ(10deg);
  -webkit-transform: rotateZ(10deg);
  
  animation: L-LowerLegAnime 4s ease-in-out 0s infinite normal;
  -webkit-animation: L-LowerLegAnime 4s ease-in-out 0s infinite normal;
}
@keyframes L-LowerLegAnime {
  0% { transform: rotateZ(10deg); }
  30% { transform: rotateZ(90deg); }
  50% { transform: rotateZ(10deg); }
  75% { transform: rotateZ(0deg); }
  100% { transform: rotateZ(10deg); }
}
@-webkit-keyframes L-LowerLegAnime {
  0% { -webkit-transform: rotateZ(10deg); }
  30% { -webkit-transform: rotateZ(90deg); }
  50% { -webkit-transform: rotateZ(10deg); }
  75% { -webkit-transform: rotateZ(0deg); }
  100% { -webkit-transform: rotateZ(10deg); }
}

#L-Shin {
  top: 0px; left: 0px;
  width: 30px; height: 75px;
  position: absolute;
}

#L-Ankle {
  top: 65px; left: 0px;
  width: 30px; height: 20px;
  position: absolute;
  
  transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  
  transform: rotateZ(-15deg);
  -webkit-transform: rotateZ(-15deg);
  
  animation: L-AnkleAnime 4s linear 0s infinite normal;
  -webkit-animation: L-AnkleAnime 4s linear 0s infinite normal;
}
@keyframes L-AnkleAnime {
  0% { transform: rotateZ(-15deg); }
  15% { transform: rotateZ(10deg); }
  25% { transform: rotateZ(0deg); }
  40% { transform: rotateZ(-20deg); }
  50% { transform: rotateZ(0deg); }
  65% { transform: rotateZ(25deg); }
  85% { transform: rotateZ(-20deg); }
  100% { transform: rotateZ(-15deg); }
}
@-webkit-keyframes L-AnkleAnime {
  0% { -webkit-transform: rotateZ(-15deg); }
  15% { -webkit-transform: rotateZ(10deg); }
  25% { -webkit-transform: rotateZ(0deg); }
  40% { -webkit-transform: rotateZ(-20deg); }
  50% { -webkit-transform: rotateZ(0deg); }
  65% { -webkit-transform: rotateZ(25deg); }
  85% { -webkit-transform: rotateZ(-20deg); }
  100% { -webkit-transform: rotateZ(-15deg); }
}

#L-Foot {
  top: 10px; left: -5px;
  width: 60px; height: 20px;
  position: absolute;
}

#L-Knee {
  top: 75px; left: 0px;
  width: 30px; height: 30px;
  position: absolute;
}

#L-Groin {
  top: 93px; left: 8px;
  width: 40px; height: 30px;
  position: absolute;
}

