/* NaviMenu05.css */

#menu-box {
  margin: 10px 0px 10px 7px;
  width: 604px; height: 202px;
  position: relative;
  overflow: hidden;
}

/* カーテン ********************************************************************/
#menu-box div {                   /* カーテン */
  margin: 0px; padding: 0px;
  width: 604px; height: 202px;
  background-color: #99CCFF;
  /* background-colorにbackground-imageで白のグラデーションをかぶせる */
  background-image: repeating-linear-gradient( -45deg, rgba( 255, 255, 255, 0.0 ) 0%, rgba( 255, 255, 255, 0.6 ) 10%,
                                     rgba( 255, 255, 255, 0.6 ) 15%, rgba( 255, 255, 255, 0.0 ) 30% );
  background-image: -webkit-repeating-linear-gradient( -45deg, rgba( 255, 255, 255, 0.0 ) 0%, rgba( 255, 255, 255, 0.6 ) 10%,
                                                       rgba( 255, 255, 255, 0.6 ) 15%, rgba( 255, 255, 255, 0.0 ) 30% );
  background-clip: border-box;
  background-repeat: no-repeat;
  opacity: 0.8;
  text-align: center;
  font-size: 76px;
  font-weight: bold;
  font-family: "ＭＳ Ｐゴシック",Osaka,"ヒラギノ角ゴ Pro",Verdana;
  color: #3333FF;
  text-shadow: 2px 2px 2px #333333;
  line-height: 180px;
  cursor: pointer;
  position: absolute;
  
  transition: 1.0s ease-in-out;
  -webkit-transition: 1.0s ease-in-out;
}
#menu-box:hover div {             /* menu-boxのhover時に上方へ移動する */
  margin-top: -202px;
}

/* 大メニュー ********************************************************************/
#menu-box>ul {                    /* 大メニューのul */
  margin: 0px; padding: 0px;         /* この指定がないと、marginとpaddingの余白が自動的に採られてしまう。 */
  width: 603px; height: 202px;
  border-right: 1px solid #999999;
  list-style-type: none;
  float: left;
}

#menu-box>ul>li {                 /* 大メニューのli */
}

/* 小メニュー ********************************************************************/
#menu-box ul ul {                    /* 小メニューのul */
  margin: 0px; padding: 0px;         /* この指定がないと、marginとpaddingの余白が自動的に採られてしまう。 */
  width: 200px; height: 200px;
  border: 1px solid #999999;
  border-right: none;
  background-color: #EEEEEE;
  list-style-type: none;
  float: left;
}

#menu-box ul ul li {              /* 小メニュー */
  width: 200px; height: 30px;
}

#menu-box ul ul li a {            /* 小メニューのテキスト */
  margin: 0px; padding: 0px 0px 0px 10px;
  text-decoration: none;
  text-align: left;
  text-overflow: clip;               /* テキストのoverflow時は、カットする */
  font-size: 26px;
  font-weight: bold;
  font-family: "ＭＳ Ｐゴシック",Osaka,"ヒラギノ角ゴ Pro",Verdana;
  color: #000000;
  text-shadow: 2px 2px 2px #666666;
  line-height: 30px;
  display: block;
  
  /* Firefoxの時の枠線を消す */
  overflow: hidden; outline: none;
}

#menu-box ul ul li a:hover {      /* 小メニューのhover時に背景色とテキストの色を変える */
  background-color: #FF9999;
  color: #FFFFFF;
}

/* Ｗｅｂページレイアウト ***************************************/
#container {
  width: 800px;
  margin: auto;
  border-left: solid 1px #AAAAAA;
  border-right: solid 1px #AAAAAA;
}
#head {
  border-bottom: solid 1px #AAAAAA;
}
#content {
  width: 610px;
  float: left;
  margin: 0px;
}
#content_inner {
  width: 610px;
  margin: 0px;
}
#sidebar {
  width: 180px;
  float: right;
  margin: 0px;
  border-left: solid 1px #AAAAAA;
}
#side_inner {
  width: 180px;
  height: 350px;
  margin: 0px;
}
#foot {
  clear: both;
  border-top: solid 1px #AAAAAA;
}

