/* R-LinearGradAnime-stage.css */

#stage-wrap {
  margin: 0px;
  width: 100%;
  //max-width: 600px;
  max-width: 900px;
//  border: 1px solid #000000;
  position: relative;
}

#stage {
  //width: 600px; //height: 500px;
  width: 100%;
  padding-top: 83.3%;
  border: solid 1px #000000;
  background-color: #000000;
  position: relative;
}

