/* RadialGradAnime-div3.css */

/*****************************************************************************
* 丸形　円形グラデーション３
******************************************************************************/
#div3 {
  top: 20px; left: 410px;
  width: 160px; height: 160px;
  border: solid 2px #666666;
  background-color: #FFFFFF;     /* 背景を白色にしないと、画像が暗くなります。 */
  border-radius: 50%;
  position: absolute;
  
  animation: grad3Anime0 9s linear 0s infinite normal;
  -webkit-animation: grad3Anime0 9s linear 0s infinite normal;
}
#div3 > span:nth-child(1) {
  top: 0px; left: 0px;
  width: 160px; height: 160px;
  border-radius: 50%;
  position: absolute;
  opacity: 1.0;
  
  background-image: radial-gradient(circle at bottom, #FFFFFF, #FF0000 80%),
                    radial-gradient(circle at top, #FFFFFF, #0000FF 80%);
  background-image: -webkit-radial-gradient(bottom, #FFFFFF, #FF0000 80%),
                    -webkit-radial-gradient(top, #FFFFFF, #0000FF 80%);
  background-position: 0px 0px, 0px 80px;
  background-size: 160px 80px;
  background-clip: border-box;
  -webkit-background-clip: border-box;
  background-repeat: no-repeat;
  
  animation: grad3Anime1 3s linear 0s infinite alternate;
  -webkit-animation: grad3Anime1 3s linear 0s infinite alternate;
}
#div3 > span:nth-child(2) {
  top: 0px; left: 0px;
  width: 160px; height: 160px;
  border-radius: 50%;
  position: absolute;
  opacity: 0.0;
  
  background-image: radial-gradient(circle at bottom, #FFFFFF, #006400 80%),
                    radial-gradient(circle at top, #FFFFFF, #FF1493 80%);
  background-image: -webkit-radial-gradient(bottom, #FFFFFF, #006400 80%),
                    -webkit-radial-gradient(top, #FFFFFF, #FF1493 80%);
  background-position: 0px 0px, 0px 80px;
  background-size: 160px 80px;
  background-clip: border-box;
  -webkit-background-clip: border-box;
  background-repeat: no-repeat;
  
  animation: grad3Anime2 3s linear 0s infinite alternate;
  -webkit-animation: grad3Anime2 3s linear 0s infinite alternate;
}

/* grad3Anime0 **************************************/
@keyframes grad3Anime0 {
  from { }
  100% { transform: rotateZ(360deg); }
}
@-webkit-keyframes grad3Anime0 {
  from { }
  to { -webkit-transform: rotateZ(360deg); }
}
/* grad3Anime1 **************************************/
@keyframes grad3Anime1 {
  from { }
  100% { opacity: 0.0; }
}
@-webkit-keyframes grad3Anime1 {
  from { }
  to { opacity: 0.0; }
}
/* grad3Anime2 **************************************/
@keyframes grad3Anime2 {
  from { }
  100% { opacity: 1.0; }
}
@-webkit-keyframes grad3Anime2 {
  from { }
  to { opacity: 1.0; }
}

